@font-face {
    font-family: 'Zubilo BlackCTT';
    src: url('../fonts/hinted-ZubiloBlackCTT.eot');
    src: local('Zubilo BlackCTT'), local('ZubiloBlackCTT'),
        url('../fonts/hinted-ZubiloBlackCTT.eot#iefix') format('embedded-opentype'),
        url('../fonts/hinted-ZubiloBlackCTT.woff2') format('woff2'),
        url('../fonts/hinted-ZubiloBlackCTT.woff') format('woff'),
        url('../fonts/hinted-ZubiloBlackCTT.ttf') format('truetype'),
        url('../fonts/hinted-ZubiloBlackCTT.svg') format('svg');
    font-weight: 900;
    font-style: normal;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  img {
      max-width: 100%;
      display: block;
    }
  
  ul[class],
  ol[class] {
    list-style:none;
  }
  .wrapper{
      max-width: 1020px;
    margin:0 auto;
    padding: 0 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .header{
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  #menu__toggle {
      opacity: 0;
      display: none;
    }
  .menu__btn {
      display: flex; 
      align-items: center; 
      position: fixed;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 10001;
      margin-top: 35px;
    }
    
    .menu__btn > span{
      background-color: #03899C;
    }
  
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 30px;
      height: 5px;
      z-index: 10000;
      border-radius: 5px;
    }
    .menu__btn > span::before {
      content: '';
      top: -10px;
      background-color: #03899C;
    }
    .menu__btn > span::after {
      content: '';
      top: 10px;
      background-color: #03899C;
    }
    
    #menu__toggle:checked ~ .menu__btn  {
      transform: rotate(270deg);
    }
    #menu__toggle:checked ~ .menu {
      visibility: visible;
      left: 0;
    }
    .menu {
      display: block;
      position: fixed;
      visibility: hidden;
      margin-top: 5%;
      top: 0;
      left: -100%;
      width: 278px;
      height: 100%;
      margin: 0 auto;
      padding:  0;
      list-style: none;
      text-align: left;
      background-color:#32BEA6;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      font-family: 'Zubilo BlackCTT';
      font-size: 24px;
      z-index: 10000;
      line-height: 29px;
      letter-spacing: -0.035em;
    }
    .menu ul{
      margin-top: 50px;
    }
    .menu li{
  
      margin-bottom: 10px;
      margin-left: 71px !important;
    }
    .menu li a{
        text-decoration: none;
        color:	#fff;
        text-shadow: 
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
      
      transition-duration: .7s;
    }
  
    
    .menu li:nth-child(1){
      margin-top:30.5%;
    }
    .menu li a:hover{
      color:#ccc ;
      text-shadow: 0 1px 0 #ccc, 0 0 5px rgba(0, 0, 0, 0.1),0 1px 3px rgba(0, 0, 0, 0.3);
    }
      
    .menu__btn {
      transition-duration: .5s;
    }
    .menu {
      transition-duration: .5s;
    }
   
   .logo{
    font-family: 'Zubilo BlackCTT';
    font-size: 3em;
    margin-top: 20px;
    color:#03899C;
    
   }
  .logo > span{
    color: #F30021;
  }
     .knobs, .layer
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .button-cover
  {
     
      margin-top: 50px; 
  }
    .button
    {
        position: relative;
       right: 0;
        width: 100px;
        height: 36px;
        margin: -20px auto 0 auto;
        overflow: hidden;
    }
    
    .button.r, .button.r .layer
    {
        border-radius: 100px;
    }
    
    .button.b2
    {
        border-radius: 2px;
    }
    
    .checkbox
    {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }
    
    .knobs
    {
        z-index: 2;
    }
    
    .layer
    {
        width: 100%;
        background-color: #FFF;
        transition: 0.3s ease all;
        z-index: 1;
        border: 1px solid #03899C;
        border-radius: 5px;
    }
    /* Button 11 */
  #button-11
  {
      overflow: visible;
  }
  
  #button-11 .knobs
  {
      perspective: 100px;
  }
  
  #button-11 .knobs:before, #button-11 .knobs:after, #button-11 .knobs span
  {
      position: absolute;
      top: 4px;
      border-radius: 2px;
  }
  
  #button-11 .knobs:before, #button-11 .knobs:after
  {
      width: 50px;
      height: 10px;
      color: #4e4e4e;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      padding: 9px 4px;
  }
  
  #button-11 .knobs:before
  {
      content: 'TRAIN';
      left: 2px;
      font-family: 'Zubilo BlackCTT';
      color: #32BEA6;
      
  }
  
  #button-11 .knobs:after
  {
      content: 'PLAY';
      right: 2px;
      font-family: 'Zubilo BlackCTT';
      color: #FF6600;
  }
  
  #button-11 .knobs span
  {
      right: 4px;
      width: 46px;
      height: 28px;
      background-color: #32BEA6;
      transform: rotateY(0);
      transform-origin: 0% 50%;
      transition: 0.6s ease all;
      z-index: 1;
  }
  
  #button-11 .checkbox:checked + .knobs span
  {
      transform: rotateY(-180deg);
      background-color: #FF6600;
  }
  #button-11 .checkbox:checked ~ .wrapper{
    background-color: #fcebeb;
  }
  #button-11 .checkbox:checked ~ .layer
  {
      
      border: 1px solid #F30021;
  }
  .score-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
  }
  main{
   max-width: 1020px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: space-around;
  }
  .container-word,
  .container-category{
    width: 100%;
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: space-around;
  }
  
  .container-category__item{
    z-index: 1;
   width: 240px;
    height: 240px;
   border: 10px solid #32BEA6;
   background-color: #32BEA6;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border-radius: 8px;
   margin: 30px;
   font-family: 'Zubilo BlackCTT';
   font-size: 35px;
   text-decoration: none;
   color:#FFF;
   box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
        transition: .5s ;
  }
  .container-category__item-game{
    background-color: #FF6600;
    border-color:  #FF6600;
    transition: .5s all;
  }
  .container-category__item:hover{
    box-shadow: 0 1px 0 #ccc, 0 0 5px rgba(0, 0, 0, 0.1),0 1px 3px rgba(0, 0, 0, 0.3);
    
  
  }
  .container-category__item > img{
    width: 100%;
    height: 170px;
  
    border-radius: 5px; 
  }
  
  .cards{
    width: 240px;
    height: 240px;
    margin: 30px;
    border: 0px solid #fff;
    text-align: center;
    border-radius: 5px; 
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    transition: .7s linear;
    
  }
  .cards > p{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    margin-top: 20px;
    color: #5FC0CE;
  }
  
  .flipper {
    position: relative;
    width: 240px;
      height: 240px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -moz-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;  
  }
  .front{
    background-size: contain;
  }
  .front, .back {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    background-size:contain;
    background-repeat: no-repeat;
    border: 10px solid white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .game{
    background-size:250px 200px;
  }
  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    
  }
  
  .head {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    color: #2c2c2c;
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
  
  }
  
  .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
   
  
  }
   .flip{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .rotate{
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../img/icons8.svg');
    background-size: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .press{
    box-shadow: 0 1px 0 #ccc, 0 0 5px rgba(0, 0, 0, 0.1),0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .display-none{
    display: none;
  }
  .play{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background:url('../img/icons8-кнопка-воспроизведения-круглая-48.png') ;
    background-size: contain;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .star-win{
    width: 30px;
    height: 30px;
    background: url('../img/star-win.svg');
    background-size: cover;
  }
  .star{
    width: 30px;
    height: 30px;
    background: url('../img/star.svg');
    background-size: cover;
  
  }
  #menu-block{
    position: fixed;
    width: 100%;
    height: 100vh;
   top: 0;
    left: 0;
    background: #0001;
    z-index: 1000;
    
  }
  #menu-block.hidden{
  display: none;
  
  }
  .failure,
  .success{
    max-width: 350px;
    height: auto;
  
    background-size:cover;
  }
  @media (min-width: 320px) and (max-width: 700px){
    .logo{
     display: none;
      
     }
     .success{
      width: 200px;
      height: auto;
    
      background-size:cover;
    }
  }
